services:
  db:
    image: postgres:15-alpine
    container_name: postgres_db
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "5432:5432"

  web:
    build: .
    container_name: fastapi_app
    ports:
      - "8080:8000"
      - "5678:5678"
    environment:
      - DATABASE_URL=postgresql+asyncpg://${DB_USER}:${DB_PASSWORD}@db:5432/${DB_NAME}
      - WEATHER_API_KEY=${WEATHER_API_KEY}
      - STATIC_TOKEN=${STATIC_TOKEN}
      - LATITUDE=${LATITUDE}
      - LONGITUDE=${LONGITUDE}
      - DB_USER=${DB_USER}
      - DB_PASSWORD=${DB_PASSWORD}
      - DB_NAME=${DB_NAME}
      - DEBUG_MODE=true
    volumes:
      - .:/code
    depends_on:
      - db